<div id="webrtcwindow">
    <video id="video" width="640" height="360" controls>Your browser doesn't support video</video>
    <br/>
    <button id="btnStart" class="btn btn-secondary" type="button">START RECORDING</button>
    <button id="btnStop" class="btn btn-secondary" type="button">STOP RECORDING</button>
</div>


<script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>
<script src="https://cdn.webrtc-experiment.com/gumadapter.js"></script>

<script>
    var webrtcwindow = document.getElementById("webrtcwindow");
    video = document.getElementById("video");

    var btnStart = document.getElementById("btnStart");
    var btnStop = document.getElementById("btnStop");

    var recordRTC;

    function successCallback(stream) {
        video.src = window.URL.createObjectURL(stream);
        video.play();
        var options = {
          mimeType: 'video/webm\;codecs=h264', // or video/webm\;codecs=h264 or video/webm\;codecs=vp9
          audioBitsPerSecond: 128000,
          videoBitsPerSecond: 128000,
          video: {
            width: 640,
            height: 360
          },
        };
        recordRTC = RecordRTC(stream, options);
        recordRTC.startRecording();
    }

    function errorCallback(error) {
        window.alert(error);
    }

    btnStart.onclick = function() {
        var mediaConstraints = {
            audio: true,
            video: {
                width: {exact: 640},
                height: {exact: 360}
            }
        };
        navigator.mediaDevices.getUserMedia(mediaConstraints).then(successCallback).catch(errorCallback);
    }

    btnStop.onclick = function() {
        recordRTC.stopRecording(function(videoURL) {
            video.src = videoURL;
            var blob = recordRTC.getBlob();

            var fileType = 'video';

            var formData = new FormData();
            formData.append(fileType + '-filename', fileName);
            formData.append(fileType + '-blob', blob);

            xhr('save.php', formData, function (fName) {
                //window.alert(fName);
                //window.alert("Vidéo uploadé !");
            });

            function xhr(url, data, callback) {
                var request = new XMLHttpRequest();
                request.onreadystatechange = function () {
                    if (request.readyState == 4 && request.status == 200) {
                        callback(request.responseText);
                    }
                };
                request.open('POST', url);
                request.send(data);
            }
        });
    };
</script>
